html, body {
    height: 100%;
    margin: 0 auto;
}

.menu{
    background-color: red;
    max-width: 150px;
    height: 100%;
    box-sizing: border-box;
}

.menu li {
    box-shadow: 0 0 1px;
    cursor: pointer;
    line-height: 2;
}

.menu ul {
    list-style: none;
    padding: 20px;
}

.menu li:not(:first-child) {
    margin-top: 10px;
}
